@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Patrick+Hand&family=Ubuntu:wght@700&display=swap");

body {
  background-image: url("back.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
}

.item {
  margin-top: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
}

.more {
  display: flex;
  flex-direction: row;
  margin-top: -1rem;
}

h1 {
  text-align: center;
  color: ivory;
  font-family: "Nunito", sans-serif;
  font-size: 3rem;
}

.center {
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 45%;
  padding-bottom: 0.5rem;
}

.name a {
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
  color: rgb(255, 255, 255);
}

.type {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.596);
  font-family: "Patrick Hand", cursive;
}

.type a {
  font-size: 1rem;
  color: rgb(27, 87, 218);
  font-family: "Patrick Hand", cursive;
}

.status {
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
    color: rgba(0, 0, 0, 0.596);
  font-family: "Patrick Hand", cursive;
}

.status .complete {
  font-size: 1rem;
  color: rgb(157, 255, 0);
  font-family: "Patrick Hand", cursive;
  font-weight: bold;
}

.status .todo {
  font-size: 1rem;
  color: rgb(255, 0, 0);
  font-family: "Patrick Hand", cursive;
  font-weight: bold;
}

.source {
  margin-top: -0.7rem;
}

.source a {
  font-size: 1rem;
  color: rgb(7, 7, 7);
  font-family: "Ubuntu", sans-serif;
}

.copy {
  font-size: 0.7rem;
  color: rgba(235, 232, 228, 0.411);
  font-family: "Ubuntu", sans-serif;
}