@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Patrick+Hand&family=Ubuntu:wght@700&display=swap");

body {
  background-image: url("back.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  color: ivory;
  font-family: "Nunito", sans-serif;
  font-size: 3rem;
}

.center {
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 60%;
  padding-bottom: 0.5rem;
}

a {
  text-decoration: none;
}

li {
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
  color: rgba(233, 230, 230, 0.767);
}

.challenger {
  font-size: 1rem;
  color: rgb(207, 199, 188);
  font-family: "Patrick Hand", cursive;
}

.code {
  font-size: 1rem;
  color: rgba(235, 232, 228, 0.829);
  font-family: "Ubuntu", sans-serif;
}

li a {
  color: rgb(255, 255, 255);
}

h3 {
  color: wheat;
  font-size: 0.6rem;
  font-family: "Nunito", sans-serif;
}

.list {
  margin-top: 1.5rem;
}
